In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 34 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 52.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=6731fa30e27ac70f434073ac3898ae23f339982e7fd1cee60a5211c8e5318f45
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [2]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [3]:
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop2.7.tgz

In [4]:
!tar xf spark-3.2.1-bin-hadoop2.7.tgz

In [5]:
!pip install -q findspark

In [6]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop2.7"

import findspark

findspark.init()

import pyspark

In [7]:
### Initialize the spark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark

In [8]:
import pyspark.ml as ml

In [10]:
salaries_df = spark.read.csv("salaries.csv",inferSchema=True,header=True)

In [15]:
salaries_df.show(10)

+------+------+
|emp_no|salary|
+------+------+
| 10001| 60117|
| 10002| 65828|
| 10003| 40006|
| 10004| 40054|
| 10005| 78228|
| 10006| 40000|
| 10007| 56724|
| 10008| 46671|
| 10009| 60929|
| 10010| 72488|
+------+------+
only showing top 10 rows

In [20]:
employees_df = spark.read.csv("employees.csv",inferSchema=True,header=True)

In [21]:
employees_df.show(10)

+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+
|emp_no|emp_title_id|birth_date|first_name|last_name|sex| hire_date|no_of_projects|Last_performance_rating|left|last_date|
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+
|473302|       s0001| 7/25/1953|  Hideyuki| Zallocco|  M| 4/28/1990|             2|                      A|   0|     null|
|475053|       e0002|11/18/1954|     Byong|Delgrande|  F|  9/7/1991|             1|                      C|   0|     null|
| 57444|       e0002| 1/30/1958|     Berry|     Babb|  F| 3/21/1992|             9|                      A|   0|     null|
|421786|       s0001| 9/28/1957|     Xiong| Verhoeff|  M|11/26/1987|             2|                      C|   0|     null|
|282238|       e0003|10/28/1952|Abdelkader|  Baumann|  F| 1/18/1991|             6|                      B|   0|     null|
|263976|       e0003|10/30/1959|      Eran| Cusworth|  M|11/14/1986|             8|                      B|   1|8/21/1993|
|273487|       s0001| 4/14/1957| Christoph|  Parfitt|  M| 6/28/1991|            10|                      A|   0|     null|
|461591|       s0002|11/17/1964|    Xudong| Samarati|  M|11/13/1985|             2|                      A|   1|8/21/1994|
|477657|       e0002|12/18/1962|    Lihong|Magliocco|  M|10/23/1993|             5|                      A|   0|     null|
|219881|       s0002| 4/24/1956| Kwangyoen|    Speek|  F| 2/14/1993|             6|                      B|   0|     null|
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+
only showing top 10 rows

In [11]:
titles_df = spark.read.csv("titles.csv",inferSchema=True,header=True)

In [16]:
titles_df.show(10)

+--------+------------------+
|title_id|             title|
+--------+------------------+
|   s0001|             Staff|
|   s0002|      Senior Staff|
|   e0001|Assistant Engineer|
|   e0002|          Engineer|
|   e0003|   Senior Engineer|
|   e0004|  Technique Leader|
|   m0001|           Manager|
+--------+------------------+

In [12]:
departments_df = spark.read.csv("departments.csv",inferSchema=True,header=True)

In [17]:
departments_df.show(10)

+-------+------------------+
|dept_no|         dept_name|
+-------+------------------+
|   d001|         Marketing|
|   d002|           Finance|
|   d003|   Human Resources|
|   d004|        Production|
|   d005|       development|
|   d006|Quality Management|
|   d007|             Sales|
|   d008|          Research|
|   d009|  Customer Service|
+-------+------------------+

In [13]:
dept_emp_df = spark.read.csv("dept_emp.csv",inferSchema=True,header=True)

In [18]:
dept_emp_df.show(10)

+------+-------+
|emp_no|dept_no|
+------+-------+
| 10001|   d005|
| 10002|   d007|
| 10003|   d004|
| 10004|   d004|
| 10005|   d003|
| 10006|   d005|
| 10007|   d008|
| 10008|   d005|
| 10009|   d006|
| 10010|   d004|
+------+-------+
only showing top 10 rows

In [14]:
dept_manager_df = spark.read.csv("dept_manager.csv",inferSchema=True,header=True)

In [19]:
dept_manager_df.show(10)

+-------+------+
|dept_no|emp_no|
+-------+------+
|   d001|110022|
|   d001|110039|
|   d002|110085|
|   d002|110114|
|   d003|110183|
|   d003|110228|
|   d004|110303|
|   d004|110344|
|   d004|110386|
|   d004|110420|
+-------+------+
only showing top 10 rows

In [22]:
#performing joins
df_joins = employees_df.join(dept_emp_df, on ='emp_no',how='left')\
          .join(departments_df,departments_df.dept_no==dept_emp_df.dept_no,how='left').drop(dept_emp_df.dept_no)\
          .join(dept_manager_df,on='emp_no',how='left').drop(dept_manager_df.dept_no)\
          .join(salaries_df,on='emp_no',how='left')\
          .join(titles_df,employees_df.emp_title_id==titles_df.title_id,how='left')

In [23]:
df_joins.show(10)

+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+---------------+
|emp_no|emp_title_id|birth_date|first_name|last_name|sex| hire_date|no_of_projects|Last_performance_rating|left|last_date|dept_no|         dept_name|salary|title_id|          title|
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+---------------+
|473302|       s0001| 7/25/1953|  Hideyuki| Zallocco|  M| 4/28/1990|             2|                      A|   0|     null|   d002|           Finance| 40000|   s0001|          Staff|
|475053|       e0002|11/18/1954|     Byong|Delgrande|  F|  9/7/1991|             1|                      C|   0|     null|   d004|        Production| 53422|   e0002|       Engineer|
| 57444|       e0002| 1/30/1958|     Berry|     Babb|  F| 3/21/1992|             9|                      A|   0|     null|   d004|        Production| 48973|   e0002|       Engineer|
|421786|       s0001| 9/28/1957|     Xiong| Verhoeff|  M|11/26/1987|             2|                      C|   0|     null|   d003|   Human Resources| 40000|   s0001|          Staff|
|282238|       e0003|10/28/1952|Abdelkader|  Baumann|  F| 1/18/1991|             6|                      B|   0|     null|   d006|Quality Management| 40000|   e0003|Senior Engineer|
|263976|       e0003|10/30/1959|      Eran| Cusworth|  M|11/14/1986|             8|                      B|   1|8/21/1993|   d006|Quality Management| 40000|   e0003|Senior Engineer|
|273487|       s0001| 4/14/1957| Christoph|  Parfitt|  M| 6/28/1991|            10|                      A|   0|     null|   d003|   Human Resources| 56087|   s0001|          Staff|
|461591|       s0002|11/17/1964|    Xudong| Samarati|  M|11/13/1985|             2|                      A|   1|8/21/1994|   d002|           Finance| 40000|   s0002|   Senior Staff|
|477657|       e0002|12/18/1962|    Lihong|Magliocco|  M|10/23/1993|             5|                      A|   0|     null|   d006|Quality Management| 54816|   e0002|       Engineer|
|219881|       s0002| 4/24/1956| Kwangyoen|    Speek|  F| 2/14/1993|             6|                      B|   0|     null|   d009|  Customer Service| 40000|   s0002|   Senior Staff|
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+---------------+
only showing top 10 rows

In [ ]:
df_joins.printSchema()

root
 |-- emp_no: integer (nullable = true)
 |-- emp_title_id: string (nullable = true)
 |-- birth_date: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- hire_date: string (nullable = true)
 |-- no_of_projects: integer (nullable = true)
 |-- Last_performance_rating: string (nullable = true)
 |-- left: integer (nullable = true)
 |-- last_date: string (nullable = true)
 |-- dept_no: string (nullable = true)
 |-- dept_name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- title_id: string (nullable = true)
 |-- title: string (nullable = true)

In [ ]:
df_joins.describe().show()

+-------+------------------+------------+----------+----------+---------+------+---------+------------------+-----------------------+-------------------+---------+-------+----------------+------------------+--------+------------------+
|summary|            emp_no|emp_title_id|birth_date|first_name|last_name|   sex|hire_date|    no_of_projects|Last_performance_rating|               left|last_date|dept_no|       dept_name|            salary|title_id|             title|
+-------+------------------+------------+----------+----------+---------+------+---------+------------------+-----------------------+-------------------+---------+-------+----------------+------------------+--------+------------------+
|  count|            331603|      331603|    331603|    331603|   331603|331603|   331603|            331603|                 331603|             331603|    33021| 331603|          331603|            331603|  331603|            331603|
|   mean|253332.60502468314|        null|      null|      null|     null|  null|     null|5.5048567111877755|                   null|0.09957991936140505|     null|   null|            null| 52972.22543221865|    null|              null|
| stddev|161831.91944548936|        null|      null|      null|     null|  null|     null| 2.872828503883309|                   null| 0.2994395254756696|     null|   null|            null|14299.003000805982|    null|              null|
|    min|             10001|       e0001|  1/1/1953|     Aamer|   Aamodt|     F| 1/1/1985|                 1|                      A|                  0| 1/1/1987|   d001|Customer Service|             40000|   e0001|Assistant Engineer|
|    max|            499999|       s0002|  9/9/1964|    Zvonko|  dAstous|     M| 9/9/1999|                10|                      S|                  1| 9/9/2008|   d009|     development|            129492|   s0002|  Technique Leader|
+-------+------------------+------------+----------+----------+---------+------+---------+------------------+-----------------------+-------------------+---------+-------+----------------+------------------+--------+------------------+

In [ ]:
df_joins.count()

331603

In [ ]:
df_joins.cache()

DataFrame[emp_no: int, emp_title_id: string, birth_date: string, first_name: string, last_name: string, sex: string, hire_date: string, no_of_projects: int, Last_performance_rating: string, left: int, last_date: string, dept_no: string, dept_name: string, salary: int, title_id: string, title: string]

In [24]:
df = df_joins

In [ ]:
df.show(10)

+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+---------------+
|emp_no|emp_title_id|birth_date|first_name|last_name|sex| hire_date|no_of_projects|Last_performance_rating|left|last_date|dept_no|         dept_name|salary|title_id|          title|
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+---------------+
|473302|       s0001| 7/25/1953|  Hideyuki| Zallocco|  M| 4/28/1990|             2|                      A|   0|     null|   d002|           Finance| 40000|   s0001|          Staff|
|475053|       e0002|11/18/1954|     Byong|Delgrande|  F|  9/7/1991|             1|                      C|   0|     null|   d004|        Production| 53422|   e0002|       Engineer|
| 57444|       e0002| 1/30/1958|     Berry|     Babb|  F| 3/21/1992|             9|                      A|   0|     null|   d004|        Production| 48973|   e0002|       Engineer|
|421786|       s0001| 9/28/1957|     Xiong| Verhoeff|  M|11/26/1987|             2|                      C|   0|     null|   d003|   Human Resources| 40000|   s0001|          Staff|
|282238|       e0003|10/28/1952|Abdelkader|  Baumann|  F| 1/18/1991|             6|                      B|   0|     null|   d006|Quality Management| 40000|   e0003|Senior Engineer|
|263976|       e0003|10/30/1959|      Eran| Cusworth|  M|11/14/1986|             8|                      B|   1|8/21/1993|   d006|Quality Management| 40000|   e0003|Senior Engineer|
|273487|       s0001| 4/14/1957| Christoph|  Parfitt|  M| 6/28/1991|            10|                      A|   0|     null|   d003|   Human Resources| 56087|   s0001|          Staff|
|461591|       s0002|11/17/1964|    Xudong| Samarati|  M|11/13/1985|             2|                      A|   1|8/21/1994|   d002|           Finance| 40000|   s0002|   Senior Staff|
|477657|       e0002|12/18/1962|    Lihong|Magliocco|  M|10/23/1993|             5|                      A|   0|     null|   d006|Quality Management| 54816|   e0002|       Engineer|
|219881|       s0002| 4/24/1956| Kwangyoen|    Speek|  F| 2/14/1993|             6|                      B|   0|     null|   d009|  Customer Service| 40000|   s0002|   Senior Staff|
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+---------------+
only showing top 10 rows

In [25]:
df.columns

['emp_no',
 'emp_title_id',
 'birth_date',
 'first_name',
 'last_name',
 'sex',
 'hire_date',
 'no_of_projects',
 'Last_performance_rating',
 'left',
 'last_date',
 'dept_no',
 'dept_name',
 'salary',
 'title_id',
 'title']

In [26]:
continuous_features = ['no_of_projects','salary']

categorical_features = ['last_performance_ratings', 'dept_name', 'left_',
                      'title']

In [27]:
#Encoding all categorical features
from pyspark.ml.feature import OneHotEncoder, StringIndexer, VectorAssembler, PolynomialExpansion, VectorIndexer

In [28]:
# create object of StringIndexer class and specify input and output column
SI_Last_performance_rating = StringIndexer(inputCol='Last_performance_rating',outputCol='Last_performance_rating_Index')
SI_dept_name = StringIndexer(inputCol='dept_name',outputCol='dept_name_Index')
SI_left = StringIndexer(inputCol='left',outputCol='left_Index')
SI_title = StringIndexer(inputCol='title',outputCol='title_Index')


# transform the data
df = SI_Last_performance_rating.fit(df).transform(df)
df = SI_dept_name.fit(df).transform(df)
df = SI_left.fit(df).transform(df)
df = SI_title.fit(df).transform(df)

In [29]:
df.select('Last_performance_rating','Last_performance_rating_Index','dept_name','dept_name_Index','left','left_Index','title','title_Index').show(10)

+-----------------------+-----------------------------+------------------+---------------+----+----------+---------------+-----------+
|Last_performance_rating|Last_performance_rating_Index|         dept_name|dept_name_Index|left|left_Index|          title|title_Index|
+-----------------------+-----------------------------+------------------+---------------+----+----------+---------------+-----------+
|                      A|                          1.0|           Finance|            8.0|   0|       0.0|          Staff|        0.0|
|                      C|                          2.0|        Production|            1.0|   0|       0.0|       Engineer|        2.0|
|                      A|                          1.0|        Production|            1.0|   0|       0.0|       Engineer|        2.0|
|                      C|                          2.0|   Human Resources|            7.0|   0|       0.0|          Staff|        0.0|
|                      B|                          0.0|Quality Management|            6.0|   0|       0.0|Senior Engineer|        1.0|
|                      B|                          0.0|Quality Management|            6.0|   1|       1.0|Senior Engineer|        1.0|
|                      A|                          1.0|   Human Resources|            7.0|   0|       0.0|          Staff|        0.0|
|                      A|                          1.0|           Finance|            8.0|   1|       1.0|   Senior Staff|        3.0|
|                      A|                          1.0|Quality Management|            6.0|   0|       0.0|       Engineer|        2.0|
|                      B|                          0.0|  Customer Service|            3.0|   0|       0.0|   Senior Staff|        3.0|
+-----------------------+-----------------------------+------------------+---------------+----+----------+---------------+-----------+
only showing top 10 rows

In [30]:
# create object and specify input and output column
OHE = OneHotEncoder(inputCols=['Last_performance_rating_Index', 'dept_name_Index','left_Index', 'title_Index'],outputCols=['Last_performance_rating_vec', 'dept_name_vec','left_vec', 'title_vec'])

# transform the data
df = OHE.fit(df).transform(df)

# view and transform the data
df.select('Last_performance_rating','Last_performance_rating_Index','Last_performance_rating_vec','dept_name','dept_name_Index','dept_name_vec','left','left_Index','left_vec','title','title_Index','title_vec').show(10)

+-----------------------+-----------------------------+---------------------------+------------------+---------------+-------------+----+----------+-------------+---------------+-----------+-------------+
|Last_performance_rating|Last_performance_rating_Index|Last_performance_rating_vec|         dept_name|dept_name_Index|dept_name_vec|left|left_Index|     left_vec|          title|title_Index|    title_vec|
+-----------------------+-----------------------------+---------------------------+------------------+---------------+-------------+----+----------+-------------+---------------+-----------+-------------+
|                      A|                          1.0|              (4,[1],[1.0])|           Finance|            8.0|    (8,[],[])|   0|       0.0|(1,[0],[1.0])|          Staff|        0.0|(6,[0],[1.0])|
|                      C|                          2.0|              (4,[2],[1.0])|        Production|            1.0|(8,[1],[1.0])|   0|       0.0|(1,[0],[1.0])|       Engineer|        2.0|(6,[2],[1.0])|
|                      A|                          1.0|              (4,[1],[1.0])|        Production|            1.0|(8,[1],[1.0])|   0|       0.0|(1,[0],[1.0])|       Engineer|        2.0|(6,[2],[1.0])|
|                      C|                          2.0|              (4,[2],[1.0])|   Human Resources|            7.0|(8,[7],[1.0])|   0|       0.0|(1,[0],[1.0])|          Staff|        0.0|(6,[0],[1.0])|
|                      B|                          0.0|              (4,[0],[1.0])|Quality Management|            6.0|(8,[6],[1.0])|   0|       0.0|(1,[0],[1.0])|Senior Engineer|        1.0|(6,[1],[1.0])|
|                      B|                          0.0|              (4,[0],[1.0])|Quality Management|            6.0|(8,[6],[1.0])|   1|       1.0|    (1,[],[])|Senior Engineer|        1.0|(6,[1],[1.0])|
|                      A|                          1.0|              (4,[1],[1.0])|   Human Resources|            7.0|(8,[7],[1.0])|   0|       0.0|(1,[0],[1.0])|          Staff|        0.0|(6,[0],[1.0])|
|                      A|                          1.0|              (4,[1],[1.0])|           Finance|            8.0|    (8,[],[])|   1|       1.0|    (1,[],[])|   Senior Staff|        3.0|(6,[3],[1.0])|
|                      A|                          1.0|              (4,[1],[1.0])|Quality Management|            6.0|(8,[6],[1.0])|   0|       0.0|(1,[0],[1.0])|       Engineer|        2.0|(6,[2],[1.0])|
|                      B|                          0.0|              (4,[0],[1.0])|  Customer Service|            3.0|(8,[3],[1.0])|   0|       0.0|(1,[0],[1.0])|   Senior Staff|        3.0|(6,[3],[1.0])|
+-----------------------+-----------------------------+---------------------------+------------------+---------------+-------------+----+----------+-------------+---------------+-----------+-------------+
only showing top 10 rows

In [ ]:
df.printSchema()

root
 |-- emp_no: integer (nullable = true)
 |-- emp_title_id: string (nullable = true)
 |-- birth_date: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- sex: string (nullable = true)
 |-- hire_date: string (nullable = true)
 |-- no_of_projects: integer (nullable = true)
 |-- Last_performance_rating: string (nullable = true)
 |-- left: integer (nullable = true)
 |-- last_date: string (nullable = true)
 |-- dept_no: string (nullable = true)
 |-- dept_name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- title_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- Last_performance_rating_Index: double (nullable = false)
 |-- dept_name_Index: double (nullable = false)
 |-- left_Index: double (nullable = false)
 |-- title_Index: double (nullable = false)
 |-- Last_performance_rating_vec: vector (nullable = true)
 |-- dept_name_vec: vector (nullable = true)
 |-- left_vec: vector (nullable = true)
 |-- title_vec: vector (nullable = true)

In [31]:
featureCols = continuous_features + ['Last_performance_rating_vec', 'dept_name_vec','left_vec', 'title_vec']

In [32]:
featureCols

['no_of_projects',
 'salary',
 'Last_performance_rating_vec',
 'dept_name_vec',
 'left_vec',
 'title_vec']

In [33]:
assembler = VectorAssembler( inputCols = featureCols, outputCol = "features")

In [34]:
df_joins = assembler.transform( df )

In [36]:
df_joins.show( 10 , truncate=False)

+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+---------------+-----------------------------+---------------+----------+-----------+---------------------------+-------------+-------------+-------------+----------------------------------------------------+
|emp_no|emp_title_id|birth_date|first_name|last_name|sex|hire_date |no_of_projects|Last_performance_rating|left|last_date|dept_no|dept_name         |salary|title_id|title          |Last_performance_rating_Index|dept_name_Index|left_Index|title_Index|Last_performance_rating_vec|dept_name_vec|left_vec     |title_vec    |features                                            |
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+---------------+-----------------------------+---------------+----------+-----------+---------------------------+-------------+-------------+-------------+----------------------------------------------------+
|473302|s0001       |7/25/1953 |Hideyuki  |Zallocco |M  |4/28/1990 |2             |A                      |0   |null     |d002   |Finance           |40000 |s0001   |Staff          |1.0                          |8.0            |0.0       |0.0        |(4,[1],[1.0])              |(8,[],[])    |(1,[0],[1.0])|(6,[0],[1.0])|(21,[0,1,3,14,15],[2.0,40000.0,1.0,1.0,1.0])        |
|475053|e0002       |11/18/1954|Byong     |Delgrande|F  |9/7/1991  |1             |C                      |0   |null     |d004   |Production        |53422 |e0002   |Engineer       |2.0                          |1.0            |0.0       |2.0        |(4,[2],[1.0])              |(8,[1],[1.0])|(1,[0],[1.0])|(6,[2],[1.0])|(21,[0,1,4,7,14,17],[1.0,53422.0,1.0,1.0,1.0,1.0])  |
|57444 |e0002       |1/30/1958 |Berry     |Babb     |F  |3/21/1992 |9             |A                      |0   |null     |d004   |Production        |48973 |e0002   |Engineer       |1.0                          |1.0            |0.0       |2.0        |(4,[1],[1.0])              |(8,[1],[1.0])|(1,[0],[1.0])|(6,[2],[1.0])|(21,[0,1,3,7,14,17],[9.0,48973.0,1.0,1.0,1.0,1.0])  |
|421786|s0001       |9/28/1957 |Xiong     |Verhoeff |M  |11/26/1987|2             |C                      |0   |null     |d003   |Human Resources   |40000 |s0001   |Staff          |2.0                          |7.0            |0.0       |0.0        |(4,[2],[1.0])              |(8,[7],[1.0])|(1,[0],[1.0])|(6,[0],[1.0])|(21,[0,1,4,13,14,15],[2.0,40000.0,1.0,1.0,1.0,1.0]) |
|282238|e0003       |10/28/1952|Abdelkader|Baumann  |F  |1/18/1991 |6             |B                      |0   |null     |d006   |Quality Management|40000 |e0003   |Senior Engineer|0.0                          |6.0            |0.0       |1.0        |(4,[0],[1.0])              |(8,[6],[1.0])|(1,[0],[1.0])|(6,[1],[1.0])|(21,[0,1,2,12,14,16],[6.0,40000.0,1.0,1.0,1.0,1.0]) |
|263976|e0003       |10/30/1959|Eran      |Cusworth |M  |11/14/1986|8             |B                      |1   |8/21/1993|d006   |Quality Management|40000 |e0003   |Senior Engineer|0.0                          |6.0            |1.0       |1.0        |(4,[0],[1.0])              |(8,[6],[1.0])|(1,[],[])    |(6,[1],[1.0])|(21,[0,1,2,12,16],[8.0,40000.0,1.0,1.0,1.0])        |
|273487|s0001       |4/14/1957 |Christoph |Parfitt  |M  |6/28/1991 |10            |A                      |0   |null     |d003   |Human Resources   |56087 |s0001   |Staff          |1.0                          |7.0            |0.0       |0.0        |(4,[1],[1.0])              |(8,[7],[1.0])|(1,[0],[1.0])|(6,[0],[1.0])|(21,[0,1,3,13,14,15],[10.0,56087.0,1.0,1.0,1.0,1.0])|
|461591|s0002       |11/17/1964|Xudong    |Samarati |M  |11/13/1985|2             |A                      |1   |8/21/1994|d002   |Finance           |40000 |s0002   |Senior Staff   |1.0                          |8.0            |1.0       |3.0        |(4,[1],[1.0])              |(8,[],[])    |(1,[],[])    |(6,[3],[1.0])|(21,[0,1,3,18],[2.0,40000.0,1.0,1.0])               |
|477657|e0002       |12/18/1962|Lihong    |Magliocco|M  |10/23/1993|5             |A                      |0   |null     |d006   |Quality Management|54816 |e0002   |Engineer       |1.0                          |6.0            |0.0       |2.0        |(4,[1],[1.0])              |(8,[6],[1.0])|(1,[0],[1.0])|(6,[2],[1.0])|(21,[0,1,3,12,14,17],[5.0,54816.0,1.0,1.0,1.0,1.0]) |
|219881|s0002       |4/24/1956 |Kwangyoen |Speek    |F  |2/14/1993 |6             |B                      |0   |null     |d009   |Customer Service  |40000 |s0002   |Senior Staff   |0.0                          |3.0            |0.0       |3.0        |(4,[0],[1.0])              |(8,[3],[1.0])|(1,[0],[1.0])|(6,[3],[1.0])|(21,[0,1,2,9,14,18],[6.0,40000.0,1.0,1.0,1.0,1.0])  |
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+---------------+-----------------------------+---------------+----------+-----------+---------------------------+-------------+-------------+-------------+----------------------------------------------------+
only showing top 10 rows

In [38]:
df_joins = df_joins.withColumn( "label", df.left.cast( 'int' ) )

In [39]:
train_df, test_df = df_joins.randomSplit( [0.7, 0.3], seed = 42 )

In [40]:
train_df.show(5, truncate=False)

+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+------------------+-----------------------------+---------------+----------+-----------+---------------------------+-------------+-------------+-------------+---------------------------------------------------+-----+
|emp_no|emp_title_id|birth_date|first_name|last_name|sex|hire_date |no_of_projects|Last_performance_rating|left|last_date|dept_no|dept_name         |salary|title_id|title             |Last_performance_rating_Index|dept_name_Index|left_Index|title_Index|Last_performance_rating_vec|dept_name_vec|left_vec     |title_vec    |features                                           |label|
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+------------------+-----------------------------+---------------+----------+-----------+---------------------------+-------------+-------------+-------------+---------------------------------------------------+-----+
|10002 |s0001       |6/2/1964  |Bezalel   |Simmel   |F  |11/21/1985|8             |B                      |0   |null     |d007   |Sales             |65828 |s0001   |Staff             |0.0                          |2.0            |0.0       |0.0        |(4,[0],[1.0])              |(8,[2],[1.0])|(1,[0],[1.0])|(6,[0],[1.0])|(21,[0,1,2,8,14,15],[8.0,65828.0,1.0,1.0,1.0,1.0]) |0    |
|10003 |e0003       |12/3/1959 |Parto     |Bamford  |M  |8/28/1986 |1             |C                      |0   |null     |d004   |Production        |40006 |e0003   |Senior Engineer   |2.0                          |1.0            |0.0       |1.0        |(4,[2],[1.0])              |(8,[1],[1.0])|(1,[0],[1.0])|(6,[1],[1.0])|(21,[0,1,4,7,14,16],[1.0,40006.0,1.0,1.0,1.0,1.0]) |0    |
|10008 |e0001       |2/19/1958 |Saniya    |Kalloufi |M  |9/15/1994 |9             |C                      |0   |null     |d005   |development       |46671 |e0001   |Assistant Engineer|2.0                          |0.0            |0.0       |5.0        |(4,[2],[1.0])              |(8,[0],[1.0])|(1,[0],[1.0])|(6,[5],[1.0])|(21,[0,1,4,6,14,20],[9.0,46671.0,1.0,1.0,1.0,1.0]) |0    |
|10010 |e0002       |6/1/1963  |Duangkaew |Piveteau |F  |8/24/1989 |4             |A                      |0   |null     |d004   |Production        |72488 |e0002   |Engineer          |1.0                          |1.0            |0.0       |2.0        |(4,[1],[1.0])              |(8,[1],[1.0])|(1,[0],[1.0])|(6,[2],[1.0])|(21,[0,1,3,7,14,17],[4.0,72488.0,1.0,1.0,1.0,1.0]) |0    |
|10010 |e0002       |6/1/1963  |Duangkaew |Piveteau |F  |8/24/1989 |4             |A                      |0   |null     |d006   |Quality Management|72488 |e0002   |Engineer          |1.0                          |6.0            |0.0       |2.0        |(4,[1],[1.0])              |(8,[6],[1.0])|(1,[0],[1.0])|(6,[2],[1.0])|(21,[0,1,3,12,14,17],[4.0,72488.0,1.0,1.0,1.0,1.0])|0    |
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+------------------+-----------------------------+---------------+----------+-----------+---------------------------+-------------+-------------+-------------+---------------------------------------------------+-----+
only showing top 5 rows

In [41]:
from pyspark.ml.regression import LinearRegression

In [42]:
linreg = LinearRegression()

In [43]:
lm = linreg.fit( train_df )

In [44]:
lm.intercept

1.0000000000022824

In [45]:
lm.coefficients

DenseVector([-0.0, -0.0, -0.0, -0.0, -0.0, -0.0, 0.0, 0.0, -0.0, -0.0, -0.0, -0.0, 0.0, -0.0, -1.0, -0.0, -0.0, -0.0, -0.0, -0.0, -0.0])

In [46]:
#Make predictions on train data and evaluate
y_pred_train = lm.transform(train_df)

In [47]:
y_pred_train.show(10)

+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+------------------+-----------------------------+---------------+----------+-----------+---------------------------+-------------+-------------+-------------+--------------------+-----+--------------------+
|emp_no|emp_title_id|birth_date|first_name|last_name|sex| hire_date|no_of_projects|Last_performance_rating|left|last_date|dept_no|         dept_name|salary|title_id|             title|Last_performance_rating_Index|dept_name_Index|left_Index|title_Index|Last_performance_rating_vec|dept_name_vec|     left_vec|    title_vec|            features|label|          prediction|
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+------------------+-----------------------------+---------------+----------+-----------+---------------------------+-------------+-------------+-------------+--------------------+-----+--------------------+
| 10002|       s0001|  6/2/1964|   Bezalel|   Simmel|  F|11/21/1985|             8|                      B|   0|     null|   d007|             Sales| 65828|   s0001|             Staff|                          0.0|            2.0|       0.0|        0.0|              (4,[0],[1.0])|(8,[2],[1.0])|(1,[0],[1.0])|(6,[0],[1.0])|(21,[0,1,2,8,14,1...|    0|-8.88178419700125...|
| 10003|       e0003| 12/3/1959|     Parto|  Bamford|  M| 8/28/1986|             1|                      C|   0|     null|   d004|        Production| 40006|   e0003|   Senior Engineer|                          2.0|            1.0|       0.0|        1.0|              (4,[2],[1.0])|(8,[1],[1.0])|(1,[0],[1.0])|(6,[1],[1.0])|(21,[0,1,4,7,14,1...|    0|2.220446049250313...|
| 10008|       e0001| 2/19/1958|    Saniya| Kalloufi|  M| 9/15/1994|             9|                      C|   0|     null|   d005|       development| 46671|   e0001|Assistant Engineer|                          2.0|            0.0|       0.0|        5.0|              (4,[2],[1.0])|(8,[0],[1.0])|(1,[0],[1.0])|(6,[5],[1.0])|(21,[0,1,4,6,14,2...|    0|-6.66133814775093...|
| 10010|       e0002|  6/1/1963| Duangkaew| Piveteau|  F| 8/24/1989|             4|                      A|   0|     null|   d004|        Production| 72488|   e0002|          Engineer|                          1.0|            1.0|       0.0|        2.0|              (4,[1],[1.0])|(8,[1],[1.0])|(1,[0],[1.0])|(6,[2],[1.0])|(21,[0,1,3,7,14,1...|    0|-1.33226762955018...|
| 10010|       e0002|  6/1/1963| Duangkaew| Piveteau|  F| 8/24/1989|             4|                      A|   0|     null|   d006|Quality Management| 72488|   e0002|          Engineer|                          1.0|            6.0|       0.0|        2.0|              (4,[1],[1.0])|(8,[6],[1.0])|(1,[0],[1.0])|(6,[2],[1.0])|(21,[0,1,3,12,14,...|    0|-1.33226762955018...|
| 10014|       e0002| 2/12/1956|     Berni|    Genin|  M| 3/11/1987|             9|                      B|   0|     null|   d005|       development| 46168|   e0002|          Engineer|                          0.0|            0.0|       0.0|        2.0|              (4,[0],[1.0])|(8,[0],[1.0])|(1,[0],[1.0])|(6,[2],[1.0])|(21,[0,1,2,6,14,1...|    0|-1.11022302462515...|
| 10017|       s0001|  7/6/1958| Cristinel|Bouloucos|  F|  8/3/1993|            10|                      A|   0|     null|   d001|         Marketing| 71380|   s0001|             Staff|                          1.0|            5.0|       0.0|        0.0|              (4,[1],[1.0])|(8,[5],[1.0])|(1,[0],[1.0])|(6,[0],[1.0])|(21,[0,1,3,11,14,...|    0|-1.55431223447521...|
| 10018|       e0003| 6/19/1954|  Kazuhide|     Peha|  F|  4/3/1987|             4|                      B|   0|     null|   d004|        Production| 55881|   e0003|   Senior Engineer|                          0.0|            1.0|       0.0|        1.0|              (4,[0],[1.0])|(8,[1],[1.0])|(1,[0],[1.0])|(6,[1],[1.0])|(21,[0,1,2,7,14,1...|    0|-4.44089209850062...|
| 10018|       e0003| 6/19/1954|  Kazuhide|     Peha|  F|  4/3/1987|             4|                      B|   0|     null|   d005|       development| 55881|   e0003|   Senior Engineer|                          0.0|            0.0|       0.0|        1.0|              (4,[0],[1.0])|(8,[0],[1.0])|(1,[0],[1.0])|(6,[1],[1.0])|(21,[0,1,2,6,14,1...|    0|-2.22044604925031...|
| 10027|       e0003| 7/10/1962|    Divier|  Reistad|  F|  7/7/1989|            10|                      B|   0|     null|   d005|       development| 40000|   e0003|   Senior Engineer|                          0.0|            0.0|       0.0|        1.0|              (4,[0],[1.0])|(8,[0],[1.0])|(1,[0],[1.0])|(6,[1],[1.0])|(21,[0,1,2,6,14,1...|    0|-6.66133814775093...|
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+------------------+-----------------------------+---------------+----------+-----------+---------------------------+-------------+-------------+-------------+--------------------+-----+--------------------+
only showing top 10 rows

In [48]:
#Make predictions on test data and evaluate
y_pred_test = lm.transform( test_df )

In [49]:
y_pred_test.show(10, truncate=False)

+------+------------+----------+----------+-----------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+----------------+-----------------------------+---------------+----------+-----------+---------------------------+-------------+-------------+-------------+---------------------------------------------------+-----+-----------------------+
|emp_no|emp_title_id|birth_date|first_name|last_name  |sex|hire_date |no_of_projects|Last_performance_rating|left|last_date|dept_no|dept_name         |salary|title_id|title           |Last_performance_rating_Index|dept_name_Index|left_Index|title_Index|Last_performance_rating_vec|dept_name_vec|left_vec     |title_vec    |features                                           |label|prediction             |
+------+------------+----------+----------+-----------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+----------------+-----------------------------+---------------+----------+-----------+---------------------------+-------------+-------------+-------------+---------------------------------------------------+-----+-----------------------+
|10005 |s0001       |1/21/1955 |Kyoichi   |Maliniak   |M  |9/12/1989 |6             |A                      |0   |null     |d003   |Human Resources   |78228 |s0001   |Staff           |1.0                          |7.0            |0.0       |0.0        |(4,[1],[1.0])              |(8,[7],[1.0])|(1,[0],[1.0])|(6,[0],[1.0])|(21,[0,1,3,13,14,15],[6.0,78228.0,1.0,1.0,1.0,1.0])|0    |-1.1102230246251565E-15|
|10013 |s0002       |6/7/1963  |Eberhardt |Terkki     |M  |10/20/1985|6             |C                      |0   |null     |d003   |Human Resources   |40000 |s0002   |Senior Staff    |2.0                          |7.0            |0.0       |3.0        |(4,[2],[1.0])              |(8,[7],[1.0])|(1,[0],[1.0])|(6,[3],[1.0])|(21,[0,1,4,13,14,18],[6.0,40000.0,1.0,1.0,1.0,1.0])|0    |-6.661338147750939E-16 |
|10015 |s0002       |8/19/1959 |Guoxiang  |Nooteboom  |M  |7/2/1987  |4             |B                      |0   |null     |d008   |Research          |40000 |s0002   |Senior Staff    |0.0                          |4.0            |0.0       |3.0        |(4,[0],[1.0])              |(8,[4],[1.0])|(1,[0],[1.0])|(6,[3],[1.0])|(21,[0,1,2,10,14,18],[4.0,40000.0,1.0,1.0,1.0,1.0])|0    |2.220446049250313E-16  |
|10016 |s0001       |5/2/1961  |Kazuhito  |Cappelletti|M  |1/27/1995 |5             |C                      |0   |null     |d007   |Sales             |70889 |s0001   |Staff           |2.0                          |2.0            |0.0       |0.0        |(4,[2],[1.0])              |(8,[2],[1.0])|(1,[0],[1.0])|(6,[0],[1.0])|(21,[0,1,4,8,14,15],[5.0,70889.0,1.0,1.0,1.0,1.0]) |0    |-6.661338147750939E-16 |
|10019 |s0001       |1/23/1953 |Lillian   |Haddadi    |M  |4/30/1999 |4             |B                      |0   |null     |d008   |Research          |44276 |s0001   |Staff           |0.0                          |4.0            |0.0       |0.0        |(4,[0],[1.0])              |(8,[4],[1.0])|(1,[0],[1.0])|(6,[0],[1.0])|(21,[0,1,2,10,14,15],[4.0,44276.0,1.0,1.0,1.0,1.0])|0    |4.440892098500626E-16  |
|10022 |e0002       |7/8/1952  |Shahaf    |Famili     |M  |8/22/1995 |9             |B                      |1   |11/4/2005|d005   |development       |40000 |e0002   |Engineer        |0.0                          |0.0            |1.0       |2.0        |(4,[0],[1.0])              |(8,[0],[1.0])|(1,[],[])    |(6,[2],[1.0])|(21,[0,1,2,6,17],[9.0,40000.0,1.0,1.0,1.0])        |1    |1.000000000000001      |
|10023 |e0002       |9/29/1953 |Bojan     |Montemayor |F  |12/17/1989|8             |A                      |0   |null     |d005   |development       |47883 |e0002   |Engineer        |1.0                          |0.0            |0.0       |2.0        |(4,[1],[1.0])              |(8,[0],[1.0])|(1,[0],[1.0])|(6,[2],[1.0])|(21,[0,1,3,6,14,17],[8.0,47883.0,1.0,1.0,1.0,1.0]) |0    |-1.1102230246251565E-15|
|10033 |e0004       |11/14/1956|Arif      |Merlo      |M  |3/18/1987 |9             |A                      |0   |null     |d006   |Quality Management|51258 |e0004   |Technique Leader|1.0                          |6.0            |0.0       |4.0        |(4,[1],[1.0])              |(8,[6],[1.0])|(1,[0],[1.0])|(6,[4],[1.0])|(21,[0,1,3,12,14,19],[9.0,51258.0,1.0,1.0,1.0,1.0])|0    |-1.1102230246251565E-15|
|10035 |e0003       |2/8/1953  |Alain     |Chappelet  |M  |9/5/1988  |6             |B                      |0   |null     |d004   |Production        |41538 |e0003   |Senior Engineer |0.0                          |1.0            |0.0       |1.0        |(4,[0],[1.0])              |(8,[1],[1.0])|(1,[0],[1.0])|(6,[1],[1.0])|(21,[0,1,2,7,14,16],[6.0,41538.0,1.0,1.0,1.0,1.0]) |0    |-4.440892098500626E-16 |
|10040 |e0003       |9/13/1959 |Weiyi     |Meriste    |F  |2/14/1993 |6             |A                      |0   |null     |d005   |development       |52153 |e0003   |Senior Engineer |1.0                          |0.0            |0.0       |1.0        |(4,[1],[1.0])              |(8,[0],[1.0])|(1,[0],[1.0])|(6,[1],[1.0])|(21,[0,1,3,6,14,16],[6.0,52153.0,1.0,1.0,1.0,1.0]) |0    |-4.440892098500626E-16 |
+------+------------+----------+----------+-----------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+----------------+-----------------------------+---------------+----------+-----------+---------------------------+-------------+-------------+-------------+---------------------------------------------------+-----+-----------------------+
only showing top 10 rows

In [50]:
y_pred_test.select( 'features',  'label', 'prediction', 'left' ).show( 10 )

+--------------------+-----+--------------------+----+
|            features|label|          prediction|left|
+--------------------+-----+--------------------+----+
|(21,[0,1,3,13,14,...|    0|-1.11022302462515...|   0|
|(21,[0,1,4,13,14,...|    0|-6.66133814775093...|   0|
|(21,[0,1,2,10,14,...|    0|2.220446049250313...|   0|
|(21,[0,1,4,8,14,1...|    0|-6.66133814775093...|   0|
|(21,[0,1,2,10,14,...|    0|4.440892098500626...|   0|
|(21,[0,1,2,6,17],...|    1|   1.000000000000001|   1|
|(21,[0,1,3,6,14,1...|    0|-1.11022302462515...|   0|
|(21,[0,1,3,12,14,...|    0|-1.11022302462515...|   0|
|(21,[0,1,2,7,14,1...|    0|-4.44089209850062...|   0|
|(21,[0,1,3,6,14,1...|    0|-4.44089209850062...|   0|
+--------------------+-----+--------------------+----+
only showing top 10 rows

In [51]:
from pyspark.ml.evaluation import RegressionEvaluator

In [52]:
rmse_evaluator = RegressionEvaluator(labelCol="label",
                            predictionCol="prediction",
                            metricName="rmse" )

In [53]:
lm_rmse = rmse_evaluator.evaluate( y_pred_test)
lm_rmse

2.6024160854175806e-14

In [54]:
r2_evaluator = RegressionEvaluator(labelCol="label",
                            predictionCol="prediction",
                            metricName="r2" )
lm_r2 = r2_evaluator.evaluate( y_pred_test )
lm_r2

1.0

In [55]:
continuous_features

['no_of_projects', 'salary']

In [56]:
categorical_features

['last_performance_ratings', 'dept_name', 'left_', 'title']

In [57]:
from pyspark.ml.feature import StringIndexer, OneHotEncoder, VectorAssembler
from pyspark.ml import Pipeline
from pyspark.ml.regression import LinearRegression

## Create indexers for the categorical features
indexers = [StringIndexer(inputCol=c, outputCol="{}_idx".format(c)) for c in categorical_features]

## encode the categorical features
encoders = [ OneHotEncoder(
      inputCol=idx.getOutputCol(),
      outputCol="{0}_enc".format(idx.getOutputCol())) for idx in indexers]

## Create vectors for all features categorical and continuous

assembler = VectorAssembler(
  inputCols=[enc.getOutputCol() for enc in encoders] + continuous_features,
  outputCol="features1")

## Initialize the linear model
lrModel = LinearRegression( maxIter = 10 )


## Create the pipeline with sequence of activities
#pipeline = Pipeline( stages=indexers + encoders + [assembler, lrModel ])
stages = indexers + encoders + [assembler, lrModel]

pipeline = Pipeline(stages=stages)

In [58]:
df_joins = df_joins.withColumn( "label", df.Last_performance_rating_Index.cast( 'int' ) )

In [59]:
training, testing = df_joins.randomSplit( [0.7, 0.3], seed = 42 )

In [60]:
training.show(5)

+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+------------------+-----------------------------+---------------+----------+-----------+---------------------------+-------------+-------------+-------------+--------------------+-----+
|emp_no|emp_title_id|birth_date|first_name|last_name|sex| hire_date|no_of_projects|Last_performance_rating|left|last_date|dept_no|         dept_name|salary|title_id|             title|Last_performance_rating_Index|dept_name_Index|left_Index|title_Index|Last_performance_rating_vec|dept_name_vec|     left_vec|    title_vec|            features|label|
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+------------------+-----------------------------+---------------+----------+-----------+---------------------------+-------------+-------------+-------------+--------------------+-----+
| 10002|       s0001|  6/2/1964|   Bezalel|   Simmel|  F|11/21/1985|             8|                      B|   0|     null|   d007|             Sales| 65828|   s0001|             Staff|                          0.0|            2.0|       0.0|        0.0|              (4,[0],[1.0])|(8,[2],[1.0])|(1,[0],[1.0])|(6,[0],[1.0])|(21,[0,1,2,8,14,1...|    0|
| 10003|       e0003| 12/3/1959|     Parto|  Bamford|  M| 8/28/1986|             1|                      C|   0|     null|   d004|        Production| 40006|   e0003|   Senior Engineer|                          2.0|            1.0|       0.0|        1.0|              (4,[2],[1.0])|(8,[1],[1.0])|(1,[0],[1.0])|(6,[1],[1.0])|(21,[0,1,4,7,14,1...|    2|
| 10008|       e0001| 2/19/1958|    Saniya| Kalloufi|  M| 9/15/1994|             9|                      C|   0|     null|   d005|       development| 46671|   e0001|Assistant Engineer|                          2.0|            0.0|       0.0|        5.0|              (4,[2],[1.0])|(8,[0],[1.0])|(1,[0],[1.0])|(6,[5],[1.0])|(21,[0,1,4,6,14,2...|    2|
| 10010|       e0002|  6/1/1963| Duangkaew| Piveteau|  F| 8/24/1989|             4|                      A|   0|     null|   d004|        Production| 72488|   e0002|          Engineer|                          1.0|            1.0|       0.0|        2.0|              (4,[1],[1.0])|(8,[1],[1.0])|(1,[0],[1.0])|(6,[2],[1.0])|(21,[0,1,3,7,14,1...|    1|
| 10010|       e0002|  6/1/1963| Duangkaew| Piveteau|  F| 8/24/1989|             4|                      A|   0|     null|   d006|Quality Management| 72488|   e0002|          Engineer|                          1.0|            6.0|       0.0|        2.0|              (4,[1],[1.0])|(8,[6],[1.0])|(1,[0],[1.0])|(6,[2],[1.0])|(21,[0,1,3,12,14,...|    1|
+------+------------+----------+----------+---------+---+----------+--------------+-----------------------+----+---------+-------+------------------+------+--------+------------------+-----------------------------+---------------+----------+-----------+---------------------------+-------------+-------------+-------------+--------------------+-----+
only showing top 5 rows

In [61]:
model = pipeline.fit( training)

In [ ]:
y_pred_train = model.transform(training)

In [ ]:
model.save("linear_regression.model")

In [ ]:
!zip -r /content/linear_regression_model.zip /content/linear_regression.model

  adding: content/linear_regression.model/ (stored 0%)
  adding: content/linear_regression.model/metadata/ (stored 0%)
  adding: content/linear_regression.model/metadata/.part-00000.crc (stored 0%)
  adding: content/linear_regression.model/metadata/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/metadata/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/metadata/part-00000 (deflated 40%)
  adding: content/linear_regression.model/stages/ (stored 0%)
  adding: content/linear_regression.model/stages/08_VectorAssembler_754dc6ee495c/ (stored 0%)
  adding: content/linear_regression.model/stages/08_VectorAssembler_754dc6ee495c/metadata/ (stored 0%)
  adding: content/linear_regression.model/stages/08_VectorAssembler_754dc6ee495c/metadata/.part-00000.crc (stored 0%)
  adding: content/linear_regression.model/stages/08_VectorAssembler_754dc6ee495c/metadata/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/08_VectorAssembler_754dc6ee495c/metadata/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/08_VectorAssembler_754dc6ee495c/metadata/part-00000 (deflated 40%)
  adding: content/linear_regression.model/stages/06_OneHotEncoder_181d8c6eeff9/ (stored 0%)
  adding: content/linear_regression.model/stages/06_OneHotEncoder_181d8c6eeff9/data/ (stored 0%)
  adding: content/linear_regression.model/stages/06_OneHotEncoder_181d8c6eeff9/data/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/06_OneHotEncoder_181d8c6eeff9/data/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/06_OneHotEncoder_181d8c6eeff9/data/.part-00000-6046c46c-2b23-443e-8bed-1a20b1858166-c000.snappy.parquet.crc (stored 0%)
  adding: content/linear_regression.model/stages/06_OneHotEncoder_181d8c6eeff9/data/part-00000-6046c46c-2b23-443e-8bed-1a20b1858166-c000.snappy.parquet (deflated 29%)
  adding: content/linear_regression.model/stages/06_OneHotEncoder_181d8c6eeff9/metadata/ (stored 0%)
  adding: content/linear_regression.model/stages/06_OneHotEncoder_181d8c6eeff9/metadata/.part-00000.crc (stored 0%)
  adding: content/linear_regression.model/stages/06_OneHotEncoder_181d8c6eeff9/metadata/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/06_OneHotEncoder_181d8c6eeff9/metadata/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/06_OneHotEncoder_181d8c6eeff9/metadata/part-00000 (deflated 36%)
  adding: content/linear_regression.model/stages/05_OneHotEncoder_28584a179fc4/ (stored 0%)
  adding: content/linear_regression.model/stages/05_OneHotEncoder_28584a179fc4/data/ (stored 0%)
  adding: content/linear_regression.model/stages/05_OneHotEncoder_28584a179fc4/data/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/05_OneHotEncoder_28584a179fc4/data/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/05_OneHotEncoder_28584a179fc4/data/part-00000-783a0d65-6a45-414a-95c4-93f6e1f61243-c000.snappy.parquet (deflated 29%)
  adding: content/linear_regression.model/stages/05_OneHotEncoder_28584a179fc4/data/.part-00000-783a0d65-6a45-414a-95c4-93f6e1f61243-c000.snappy.parquet.crc (stored 0%)
  adding: content/linear_regression.model/stages/05_OneHotEncoder_28584a179fc4/metadata/ (stored 0%)
  adding: content/linear_regression.model/stages/05_OneHotEncoder_28584a179fc4/metadata/.part-00000.crc (stored 0%)
  adding: content/linear_regression.model/stages/05_OneHotEncoder_28584a179fc4/metadata/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/05_OneHotEncoder_28584a179fc4/metadata/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/05_OneHotEncoder_28584a179fc4/metadata/part-00000 (deflated 37%)
  adding: content/linear_regression.model/stages/03_StringIndexer_5ac1c45d66f0/ (stored 0%)
  adding: content/linear_regression.model/stages/03_StringIndexer_5ac1c45d66f0/data/ (stored 0%)
  adding: content/linear_regression.model/stages/03_StringIndexer_5ac1c45d66f0/data/part-00000-19d276b1-0fad-4017-9e07-728c61473a3f-c000.snappy.parquet (deflated 37%)
  adding: content/linear_regression.model/stages/03_StringIndexer_5ac1c45d66f0/data/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/03_StringIndexer_5ac1c45d66f0/data/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/03_StringIndexer_5ac1c45d66f0/data/.part-00000-19d276b1-0fad-4017-9e07-728c61473a3f-c000.snappy.parquet.crc (stored 0%)
  adding: content/linear_regression.model/stages/03_StringIndexer_5ac1c45d66f0/metadata/ (stored 0%)
  adding: content/linear_regression.model/stages/03_StringIndexer_5ac1c45d66f0/metadata/.part-00000.crc (stored 0%)
  adding: content/linear_regression.model/stages/03_StringIndexer_5ac1c45d66f0/metadata/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/03_StringIndexer_5ac1c45d66f0/metadata/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/03_StringIndexer_5ac1c45d66f0/metadata/part-00000 (deflated 36%)
  adding: content/linear_regression.model/stages/02_StringIndexer_31b79700ea88/ (stored 0%)
  adding: content/linear_regression.model/stages/02_StringIndexer_31b79700ea88/data/ (stored 0%)
  adding: content/linear_regression.model/stages/02_StringIndexer_31b79700ea88/data/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/02_StringIndexer_31b79700ea88/data/.part-00000-aa04dd1f-b820-4f02-8b1f-74b8d1d9b7ba-c000.snappy.parquet.crc (stored 0%)
  adding: content/linear_regression.model/stages/02_StringIndexer_31b79700ea88/data/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/02_StringIndexer_31b79700ea88/data/part-00000-aa04dd1f-b820-4f02-8b1f-74b8d1d9b7ba-c000.snappy.parquet (deflated 35%)
  adding: content/linear_regression.model/stages/02_StringIndexer_31b79700ea88/metadata/ (stored 0%)
  adding: content/linear_regression.model/stages/02_StringIndexer_31b79700ea88/metadata/.part-00000.crc (stored 0%)
  adding: content/linear_regression.model/stages/02_StringIndexer_31b79700ea88/metadata/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/02_StringIndexer_31b79700ea88/metadata/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/02_StringIndexer_31b79700ea88/metadata/part-00000 (deflated 35%)
  adding: content/linear_regression.model/stages/01_StringIndexer_6160a8c97d32/ (stored 0%)
  adding: content/linear_regression.model/stages/01_StringIndexer_6160a8c97d32/data/ (stored 0%)
  adding: content/linear_regression.model/stages/01_StringIndexer_6160a8c97d32/data/.part-00000-d42867cc-f0ac-424c-84a8-103dba0561d0-c000.snappy.parquet.crc (stored 0%)
  adding: content/linear_regression.model/stages/01_StringIndexer_6160a8c97d32/data/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/01_StringIndexer_6160a8c97d32/data/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/01_StringIndexer_6160a8c97d32/data/part-00000-d42867cc-f0ac-424c-84a8-103dba0561d0-c000.snappy.parquet (deflated 36%)
  adding: content/linear_regression.model/stages/01_StringIndexer_6160a8c97d32/metadata/ (stored 0%)
  adding: content/linear_regression.model/stages/01_StringIndexer_6160a8c97d32/metadata/.part-00000.crc (stored 0%)
  adding: content/linear_regression.model/stages/01_StringIndexer_6160a8c97d32/metadata/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/01_StringIndexer_6160a8c97d32/metadata/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/01_StringIndexer_6160a8c97d32/metadata/part-00000 (deflated 37%)
  adding: content/linear_regression.model/stages/07_OneHotEncoder_f6874dc661ef/ (stored 0%)
  adding: content/linear_regression.model/stages/07_OneHotEncoder_f6874dc661ef/data/ (stored 0%)
  adding: content/linear_regression.model/stages/07_OneHotEncoder_f6874dc661ef/data/part-00000-86a2455b-28eb-419a-8a1f-27def5abe1e5-c000.snappy.parquet (deflated 29%)
  adding: content/linear_regression.model/stages/07_OneHotEncoder_f6874dc661ef/data/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/07_OneHotEncoder_f6874dc661ef/data/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/07_OneHotEncoder_f6874dc661ef/data/.part-00000-86a2455b-28eb-419a-8a1f-27def5abe1e5-c000.snappy.parquet.crc (stored 0%)
  adding: content/linear_regression.model/stages/07_OneHotEncoder_f6874dc661ef/metadata/ (stored 0%)
  adding: content/linear_regression.model/stages/07_OneHotEncoder_f6874dc661ef/metadata/.part-00000.crc (stored 0%)
  adding: content/linear_regression.model/stages/07_OneHotEncoder_f6874dc661ef/metadata/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/07_OneHotEncoder_f6874dc661ef/metadata/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/07_OneHotEncoder_f6874dc661ef/metadata/part-00000 (deflated 37%)
  adding: content/linear_regression.model/stages/00_StringIndexer_32957b705ee1/ (stored 0%)
  adding: content/linear_regression.model/stages/00_StringIndexer_32957b705ee1/data/ (stored 0%)
  adding: content/linear_regression.model/stages/00_StringIndexer_32957b705ee1/data/.part-00000-54fc768d-44ce-4ba6-9a12-cdc8c24b3633-c000.snappy.parquet.crc (stored 0%)
  adding: content/linear_regression.model/stages/00_StringIndexer_32957b705ee1/data/part-00000-54fc768d-44ce-4ba6-9a12-cdc8c24b3633-c000.snappy.parquet (deflated 34%)
  adding: content/linear_regression.model/stages/00_StringIndexer_32957b705ee1/data/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/00_StringIndexer_32957b705ee1/data/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/00_StringIndexer_32957b705ee1/metadata/ (stored 0%)
  adding: content/linear_regression.model/stages/00_StringIndexer_32957b705ee1/metadata/.part-00000.crc (stored 0%)
  adding: content/linear_regression.model/stages/00_StringIndexer_32957b705ee1/metadata/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/00_StringIndexer_32957b705ee1/metadata/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/00_StringIndexer_32957b705ee1/metadata/part-00000 (deflated 38%)
  adding: content/linear_regression.model/stages/09_LinearRegression_f91f838bfc0e/ (stored 0%)
  adding: content/linear_regression.model/stages/09_LinearRegression_f91f838bfc0e/data/ (stored 0%)
  adding: content/linear_regression.model/stages/09_LinearRegression_f91f838bfc0e/data/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/09_LinearRegression_f91f838bfc0e/data/.part-00000-02b42624-b32e-4407-ae09-dcf243418f03-c000.snappy.parquet.crc (stored 0%)
  adding: content/linear_regression.model/stages/09_LinearRegression_f91f838bfc0e/data/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/09_LinearRegression_f91f838bfc0e/data/part-00000-02b42624-b32e-4407-ae09-dcf243418f03-c000.snappy.parquet (deflated 50%)
  adding: content/linear_regression.model/stages/09_LinearRegression_f91f838bfc0e/metadata/ (stored 0%)
  adding: content/linear_regression.model/stages/09_LinearRegression_f91f838bfc0e/metadata/.part-00000.crc (stored 0%)
  adding: content/linear_regression.model/stages/09_LinearRegression_f91f838bfc0e/metadata/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/09_LinearRegression_f91f838bfc0e/metadata/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/09_LinearRegression_f91f838bfc0e/metadata/part-00000 (deflated 38%)
  adding: content/linear_regression.model/stages/04_OneHotEncoder_d8940564e2b9/ (stored 0%)
  adding: content/linear_regression.model/stages/04_OneHotEncoder_d8940564e2b9/data/ (stored 0%)
  adding: content/linear_regression.model/stages/04_OneHotEncoder_d8940564e2b9/data/part-00000-7b30721b-4afa-4a19-8dfc-3958ca5b8eed-c000.snappy.parquet (deflated 29%)
  adding: content/linear_regression.model/stages/04_OneHotEncoder_d8940564e2b9/data/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/04_OneHotEncoder_d8940564e2b9/data/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/04_OneHotEncoder_d8940564e2b9/data/.part-00000-7b30721b-4afa-4a19-8dfc-3958ca5b8eed-c000.snappy.parquet.crc (stored 0%)
  adding: content/linear_regression.model/stages/04_OneHotEncoder_d8940564e2b9/metadata/ (stored 0%)
  adding: content/linear_regression.model/stages/04_OneHotEncoder_d8940564e2b9/metadata/.part-00000.crc (stored 0%)
  adding: content/linear_regression.model/stages/04_OneHotEncoder_d8940564e2b9/metadata/._SUCCESS.crc (stored 0%)
  adding: content/linear_regression.model/stages/04_OneHotEncoder_d8940564e2b9/metadata/_SUCCESS (stored 0%)
  adding: content/linear_regression.model/stages/04_OneHotEncoder_d8940564e2b9/metadata/part-00000 (deflated 39%)